In [2]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [3]:
combined_data = pd.read_hdf('../data/restaurant_reviews.hdf')

In [4]:
business_data = pd.read_hdf('../data/sentiment_data.hdf')

In [7]:
combined_data.head()

,date,review_id,text,user_id,city,latitude,longitude,name,neighborhoods,stars,hours
0,2012-12-01,6w6gMZ3iBLGcUM4RBIuifQ,This place was DELICIOUS!! My parents saw a r...,LWbYpcangjBMm4KPxZGOKg,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."
1,2013-03-15,jVVv_DA5mCDB6mediuwHAw,Can't miss stop for the best Fish Sandwich in ...,m1FpV3EAeggaAdfPx0hBRQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."
2,2013-03-30,3Es8GsjkssusYgeU6_ZVpQ,This place should have a lot more reviews - bu...,8fApIAMHn2MZJFUiCQto5Q,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."
3,2013-10-20,KAkcn7oQP1xX8KsZ-XmktA,This place was very good. I found out about Em...,uK8tzraOp4M5u3uYrqIBXg,Braddock,40.408735,-79.866351,Emil's Lounge,[],4,"{'Thursday': {'close': '19:00', 'open': '10:00..."
4,2013-11-07,BZNJkkP0bXnwQ2-sCqat2Q,"Old school.....traditional ""mom 'n pop"" qualit...",6wvlM5L4_EroGXbnb_92xQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."

In [44]:
combined_data.city.value_counts()[:15]

Las Vegas     370194
Phoenix       141200
Scottsdale     78461
Charlotte      59861
Pittsburgh     44126
Tempe          41814
Henderson      28745
Chandler       26859
Madison        26312
Mesa           24743
Montr√©al       20439
Gilbert        16991
Glendale       15122
Edinburgh      11474
Montreal       10823
Name: city, dtype: int64

In [18]:
vegas = combined_data[combined_data.city == 'Las Vegas']

In [20]:
vegas.latitude.describe()

count    370194.000000
mean         36.119310
std           0.043711
min          35.973171
25%          36.104801
50%          36.117034
75%          36.131897
max          36.325757
Name: latitude, dtype: float64

In [21]:
vegas.longitude.describe()

count    370194.000000
mean       -115.189820
std           0.050648
min        -115.351900
25%        -115.208430
50%        -115.174356
75%        -115.166312
max        -114.990361
Name: longitude, dtype: float64

So .005 might be a good amount to change in both cases

In [29]:
vegas['box'] = pd.cut(vegas.longitude, 35)

/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [37]:
combined_data.head()

,date,review_id,text,user_id,city,latitude,longitude,name,neighborhoods,stars,hours
0,2012-12-01,6w6gMZ3iBLGcUM4RBIuifQ,This place was DELICIOUS!! My parents saw a r...,LWbYpcangjBMm4KPxZGOKg,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."
1,2013-03-15,jVVv_DA5mCDB6mediuwHAw,Can't miss stop for the best Fish Sandwich in ...,m1FpV3EAeggaAdfPx0hBRQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."
2,2013-03-30,3Es8GsjkssusYgeU6_ZVpQ,This place should have a lot more reviews - bu...,8fApIAMHn2MZJFUiCQto5Q,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."
3,2013-10-20,KAkcn7oQP1xX8KsZ-XmktA,This place was very good. I found out about Em...,uK8tzraOp4M5u3uYrqIBXg,Braddock,40.408735,-79.866351,Emil's Lounge,[],4,"{'Thursday': {'close': '19:00', 'open': '10:00..."
4,2013-11-07,BZNJkkP0bXnwQ2-sCqat2Q,"Old school.....traditional ""mom 'n pop"" qualit...",6wvlM5L4_EroGXbnb_92xQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."

In [30]:
pivot = pd.pivot_table(combined_data, index='city',
                       aggfunc=pd.cut(['']))

TypeError: You have to supply one of 'by' and 'level'