In [3]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [95]:
combined_data = pd.read_hdf('../data/restaurant_reviews.hdf')

In [96]:
combined_data.head(2)

,date,review_id,text,user_id,city,latitude,longitude,name,neighborhoods,stars,hours
0,2012-12-01,6w6gMZ3iBLGcUM4RBIuifQ,This place was DELICIOUS!! My parents saw a r...,LWbYpcangjBMm4KPxZGOKg,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Saturday': {'close': '16:00', 'open': '10:00..."
1,2013-03-15,jVVv_DA5mCDB6mediuwHAw,Can't miss stop for the best Fish Sandwich in ...,m1FpV3EAeggaAdfPx0hBRQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Saturday': {'close': '16:00', 'open': '10:00..."

In [44]:
combined_data.city.value_counts()[:15]

Las Vegas     370194
Phoenix       141200
Scottsdale     78461
Charlotte      59861
Pittsburgh     44126
Tempe          41814
Henderson      28745
Chandler       26859
Madison        26312
Mesa           24743
Montr√©al       20439
Gilbert        16991
Glendale       15122
Edinburgh      11474
Montreal       10823
Name: city, dtype: int64

In [18]:
vegas = combined_data[combined_data.city == 'Las Vegas']

In [20]:
vegas.latitude.describe()

count    370194.000000
mean         36.119310
std           0.043711
min          35.973171
25%          36.104801
50%          36.117034
75%          36.131897
max          36.325757
Name: latitude, dtype: float64

In [21]:
vegas.longitude.describe()

count    370194.000000
mean       -115.189820
std           0.050648
min        -115.351900
25%        -115.208430
50%        -115.174356
75%        -115.166312
max        -114.990361
Name: longitude, dtype: float64

So .005 might be a good amount to change in both cases

In [29]:
vegas['box'] = pd.cut(vegas.longitude, 35)

/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [37]:
combined_data.head()

,date,review_id,text,user_id,city,latitude,longitude,name,neighborhoods,stars,hours
0,2012-12-01,6w6gMZ3iBLGcUM4RBIuifQ,This place was DELICIOUS!! My parents saw a r...,LWbYpcangjBMm4KPxZGOKg,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."
1,2013-03-15,jVVv_DA5mCDB6mediuwHAw,Can't miss stop for the best Fish Sandwich in ...,m1FpV3EAeggaAdfPx0hBRQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."
2,2013-03-30,3Es8GsjkssusYgeU6_ZVpQ,This place should have a lot more reviews - bu...,8fApIAMHn2MZJFUiCQto5Q,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."
3,2013-10-20,KAkcn7oQP1xX8KsZ-XmktA,This place was very good. I found out about Em...,uK8tzraOp4M5u3uYrqIBXg,Braddock,40.408735,-79.866351,Emil's Lounge,[],4,"{'Thursday': {'close': '19:00', 'open': '10:00..."
4,2013-11-07,BZNJkkP0bXnwQ2-sCqat2Q,"Old school.....traditional ""mom 'n pop"" qualit...",6wvlM5L4_EroGXbnb_92xQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Thursday': {'close': '19:00', 'open': '10:00..."

In [30]:
def bin_groups(group):
    b_lat = pd.cut(group.latitude, 35)
    b_long =  pd.cut(group.longitude, 35)
    b_location =

TypeError: You have to supply one of 'by' and 'level'

In [2]:
vegas['lat_bin'] = pd.cut(vegas.latitude, 35)
vegas['long_bin'] = pd.cut(vegas.latitude, 35)

NameError: name 'pd' is not defined

In [46]:
vegas.stars.unique()

array([4, 5, 3, 2, 1])

In [54]:
zip_codes = pd.read_csv('../data/zip_code_database.csv')

In [1]:
zip_codes.head()

NameError: name 'zip_codes' is not defined

In [56]:
combined_data.columns

Index(['date', 'review_id', 'text', 'user_id', 'city', 'latitude', 'longitude',
       'name', 'neighborhoods', 'stars', 'hours'],
      dtype='object')

## Businesses Dataset

In [6]:
businesses = pd.read_hdf('../data/bus_with_sucess.hdf')

- [Creating the Dummies probably](http://stackoverflow.com/questions/29034928/pandas-convert-a-column-of-list-to-dummies)

Going to want to keep only the top 100 or so categories in total there. Do it either before or after creating the dummies.

In [36]:
df = businesses.from_records(businesses.categories.tolist())
df = df[[1,2,3]]

In [37]:
assert len(df) == len(businesses)

In [38]:
df.columns = ['cat1', 'cat2', 'cat3']

In [40]:
dum = pd.get_dummies(businesses.categories.apply(pd.Series).stack()).sum(level=0)

### Dealing with Empty Lists

Some of the items in my dataset have an empty list. The following code remedies that.

In [ ]:
dropped = list(set(businesses.index) - set(dum.index))
businesses.ix[dropped].head()

In [ ]:
businesses = businesses.drop(dropped)

In [86]:
businesses.head(2)

,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,success_metric
0,UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350519,-79.886930,Clancy's Pub,[],True,4,3.5,PA,business,1.119461
3,mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,"414 Hawkins Ave\nBraddock, PA 15104","{'Tuesday': {'close': '19:00', 'open': '10:00'...",40.408735,-79.866351,Emil's Lounge,[],True,11,4.5,PA,business,2.267289

Solution is to remove the ones that don't show up

## Keeping only frequent features

The following code only keeps the categories that show up frequently.

In [83]:
cols = dum.columns[dum.sum() > 100]
dum = dum[cols]

In [93]:
businesses.head(2)

,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,success_metric
0,UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350519,-79.886930,Clancy's Pub,[],True,4,3.5,PA,business,1.119461
3,mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,"414 Hawkins Ave\nBraddock, PA 15104","{'Tuesday': {'close': '19:00', 'open': '10:00'...",40.408735,-79.866351,Emil's Lounge,[],True,11,4.5,PA,business,2.267289