# Summary

In this notebook I:

1. Find the most common businesses in the data.
2. Analyze the integrity of the dataset (It's good!)
3. Put the dataframe into a form that can be trained easily. 
4. Join the dataframes together.
5. Do some experimenting with coordinates that I end up not using.

In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
combined_data = pd.read_hdf('../data/restaurant_reviews.hdf')

In [3]:
combined_data.head(2)

,date,review_id,text,user_id,city,latitude,longitude,name,neighborhoods,stars,hours
0,2012-12-01,6w6gMZ3iBLGcUM4RBIuifQ,This place was DELICIOUS!! My parents saw a r...,LWbYpcangjBMm4KPxZGOKg,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Friday': {'close': '20:00', 'open': '10:00'}..."
1,2013-03-15,jVVv_DA5mCDB6mediuwHAw,Can't miss stop for the best Fish Sandwich in ...,m1FpV3EAeggaAdfPx0hBRQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Friday': {'close': '20:00', 'open': '10:00'}..."

In [4]:
combined_data.city.value_counts()[:15]

Las Vegas     370194
Phoenix       141200
Scottsdale     78461
Charlotte      59861
Pittsburgh     44126
Tempe          41814
Henderson      28745
Chandler       26859
Madison        26312
Mesa           24743
Montr√©al       20439
Gilbert        16991
Glendale       15122
Edinburgh      11474
Montreal       10823
Name: city, dtype: int64

In [5]:
vegas = combined_data[combined_data.city == 'Las Vegas']

In [6]:
vegas.latitude.describe()

count    370194.000000
mean         36.119310
std           0.043711
min          35.973171
25%          36.104801
50%          36.117034
75%          36.131897
max          36.325757
Name: latitude, dtype: float64

In [7]:
vegas.longitude.describe()

count    370194.000000
mean       -115.189820
std           0.050648
min        -115.351900
25%        -115.208430
50%        -115.174356
75%        -115.166312
max        -114.990361
Name: longitude, dtype: float64

So .005 might be a good amount to change in both cases

In [8]:
vegas['box'] = pd.cut(vegas.longitude, 35)

/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [9]:
combined_data.head()

,date,review_id,text,user_id,city,latitude,longitude,name,neighborhoods,stars,hours
0,2012-12-01,6w6gMZ3iBLGcUM4RBIuifQ,This place was DELICIOUS!! My parents saw a r...,LWbYpcangjBMm4KPxZGOKg,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Friday': {'close': '20:00', 'open': '10:00'}..."
1,2013-03-15,jVVv_DA5mCDB6mediuwHAw,Can't miss stop for the best Fish Sandwich in ...,m1FpV3EAeggaAdfPx0hBRQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Friday': {'close': '20:00', 'open': '10:00'}..."
2,2013-03-30,3Es8GsjkssusYgeU6_ZVpQ,This place should have a lot more reviews - bu...,8fApIAMHn2MZJFUiCQto5Q,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Friday': {'close': '20:00', 'open': '10:00'}..."
3,2013-10-20,KAkcn7oQP1xX8KsZ-XmktA,This place was very good. I found out about Em...,uK8tzraOp4M5u3uYrqIBXg,Braddock,40.408735,-79.866351,Emil's Lounge,[],4,"{'Friday': {'close': '20:00', 'open': '10:00'}..."
4,2013-11-07,BZNJkkP0bXnwQ2-sCqat2Q,"Old school.....traditional ""mom 'n pop"" qualit...",6wvlM5L4_EroGXbnb_92xQ,Braddock,40.408735,-79.866351,Emil's Lounge,[],5,"{'Friday': {'close': '20:00', 'open': '10:00'}..."

In [46]:
vegas.stars.unique()

array([4, 5, 3, 2, 1])

In [54]:
zip_codes = pd.read_csv('../data/zip_code_database.csv')

In [1]:
zip_codes.head()

NameError: name 'zip_codes' is not defined

In [56]:
combined_data.columns

Index(['date', 'review_id', 'text', 'user_id', 'city', 'latitude', 'longitude',
       'name', 'neighborhoods', 'stars', 'hours'],
      dtype='object')

## Businesses Dataset

In [11]:
businesses = pd.read_hdf('../data/bus_with_sucess.hdf')

- [Creating the Dummies probably](http://stackoverflow.com/questions/29034928/pandas-convert-a-column-of-list-to-dummies)

Going to want to keep only the top 100 or so categories in total there. Do it either before or after creating the dummies.

### Extracting Categories

We can't do much with a list inside of our dataframe. For this reaosn, we want to make a df of dummies of categories.

In [17]:
df = businesses.from_records(businesses.categories.tolist())
df = df[[1,2,3]]

In [37]:
assert len(df) == len(businesses)

In [14]:
df.columns = ['cat1', 'cat2', 'cat3']

In [15]:
dum = pd.get_dummies(businesses.categories.apply(pd.Series).stack()).sum(level=0)

In [16]:
dum

,Accessories,Active Life,Adult Entertainment,Afghan,African,Airports,American (New),American (Traditional),Amusement Parks,Antiques,...,Venues & Event Spaces,Videos & Video Game Rental,Vietnamese,Wedding Planning,Wholesale Stores,Wine Bars,Wineries,Wok,Women's Clothing,Yoga
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
37,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
39,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61132,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
61135,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61139,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61141,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61147,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61150,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61156,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
61158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61161,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
61162,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61163,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61164,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61167,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61176,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61177,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Dealing with Empty Lists

Some of the items in my dataset have an empty list. The following code remedies that.

In [106]:
businesses.index

Int64Index([    0,     3,     4,     8,    10,    11,    12,    14,    17,
               19,
            ...
            61163, 61164, 61165, 61167, 61168, 61169, 61171, 61174, 61176,
            61177],
           dtype='int64', length=22741)

In [ ]:
dropped = list(set(businesses.index) - set(dum.index))
businesses.ix[dropped].head()

In [ ]:
businesses = businesses.drop(dropped)

In [86]:
businesses.head(2)

,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,success_metric
0,UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350519,-79.886930,Clancy's Pub,[],True,4,3.5,PA,business,1.119461
3,mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,"414 Hawkins Ave\nBraddock, PA 15104","{'Tuesday': {'close': '19:00', 'open': '10:00'...",40.408735,-79.866351,Emil's Lounge,[],True,11,4.5,PA,business,2.267289

Solution is to remove the ones that don't show up

## Keeping only frequent features

The following code only keeps the categories that show up frequently.

In [83]:
cols = dum.columns[dum.sum() > 100]
dum = dum[cols]

In [93]:
businesses.head(2)

,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,success_metric
0,UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350519,-79.886930,Clancy's Pub,[],True,4,3.5,PA,business,1.119461
3,mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,"414 Hawkins Ave\nBraddock, PA 15104","{'Tuesday': {'close': '19:00', 'open': '10:00'...",40.408735,-79.866351,Emil's Lounge,[],True,11,4.5,PA,business,2.267289

## Joining DataFrames

We now need to join the following dataframes together:

1. Our initial Businsesses DataFrame
2. Our dataframe of dummies
3. Our neighborhood businesses success rates.

In [97]:
neighbors =  pd.read_hdf('../data/neighbors_bus.hdf')

In [110]:
# Index got reset previously
neighbors = neighbors.set_index(neighbors['index'])

In [114]:
# Find the columns we need to drop again
dropped = list(set(neighbors.index) - set(businesses.index))
print(dropped)

[26082, 21187, 28066, 24263, 25608, 33831, 16910, 33329, 35475, 25815, 17625, 15674, 25370, 25980, 25981, 26014, 25855]

In [115]:
neighbors = neighbors.drop(dropped)

In [132]:
assert len(neighbors) == len(businesses)

In [121]:
bus_with_success = businesses.join(neighbors.neighbor_success)

In [133]:
assert len(bus_with_success) == len(dum)

In [128]:
bus_with_dummies = bus_with_success.join(dum)

In [129]:
len(bus_with_dummies.columns)

77

In [131]:
bus_with_dummies.to_hdf('../data/ready_businesses', 'df')

/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/pandas/core/generic.py:938: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->['business_id', 'categories', 'city', 'full_address', 'hours', 'name', 'neighborhoods', 'state', 'type']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [134]:
df.columns

Index(['cat1', 'cat2', 'cat3'], dtype='object')

# Picking the Top 10 Cities

In [18]:
cities = businesses.city.value_counts()[:10].index

In [19]:
list(cities)

['Las Vegas',
 'Phoenix',
 'Charlotte',
 'Pittsburgh',
 'Montr√©al',
 'Scottsdale',
 'Edinburgh',
 'Mesa',
 'Montreal',
 'Tempe']

In [20]:
cities = [(city, city) for city in cities]

In [21]:
print(cities)

[('Las Vegas', 'Las Vegas'), ('Phoenix', 'Phoenix'), ('Charlotte', 'Charlotte'), ('Pittsburgh', 'Pittsburgh'), ('Montr√©al', 'Montr√©al'), ('Scottsdale', 'Scottsdale'), ('Edinburgh', 'Edinburgh'), ('Mesa', 'Mesa'), ('Montreal', 'Montreal'), ('Tempe', 'Tempe')]

In [142]:
list(zip(,list(cities)))

['Las Vegas',
 'Phoenix',
 'Charlotte',
 'Pittsburgh',
 'Montr√©al',
 'Scottsdale',
 'Edinburgh',
 'Mesa',
 'Montreal',
 'Tempe']

# Getting the Coordinates

In [152]:
import geopy

In [153]:
from geopy import Nominatim

In [179]:
cities = businesses.city.value_counts()[:10].index

In [154]:
geolocator = Nominatim()

In [160]:
import time
coordinates = []
for city in cities:
    coordinates.append(geolocator.geocode(city, timeout=10))
    time.sleep(2)

In [162]:
?coordinates[1]

In [164]:
type(coordinates[1])

geopy.location.Location

In [169]:
coordinates[1].address

'Phoenix, Maricopa County, Arizona, United States of America'

In [171]:
coordinates = [(i.latitude, i.longitude) for i in coordinates]

In [180]:
cities = [city[:4].lower().strip() for city in cities]

In [182]:
city_coordinates = list(zip(cities, coordinates))

In [183]:
print(city_coordinates)

[('las', (36.1662859, -115.149225)), ('phoe', (33.4467681, -112.0756724)), ('char', (35.2270869, -80.8431268)), ('pitt', (40.4416941, -79.9900861)), ('mont', (45.5115944, -73.6051013)), ('scot', (33.5091215, -111.8992365)), ('edin', (55.9483544, -3.1931187)), ('mesa', (33.436188, -111.586066076293)), ('mont', (45.5115944, -73.6051013)), ('temp', (33.4144139, -111.9094473))]

Want 

{'cities':[
{'city': 'las', 'coordinates':'()'}
]
}

In [184]:
import json

In [198]:
city_jon = json.dumps(city_coordinates)

In [205]:
city_jon.replace('",', '":').replace('["', '{"').replace(']]', ']}')

'[{"las": [36.1662859, -115.149225]}, {"phoe": [33.4467681, -112.0756724]}, {"char": [35.2270869, -80.8431268]}, {"pitt": [40.4416941, -79.9900861]}, {"mont": [45.5115944, -73.6051013]}, {"scot": [33.5091215, -111.8992365]}, {"edin": [55.9483544, -3.1931187]}, {"mesa": [33.436188, -111.586066076293]}, {"mont": [45.5115944, -73.6051013]}, {"temp": [33.4144139, -111.9094473]}]'

In [189]:
[i[0] for i in city_coordinates]

['las', 'phoe', 'char', 'pitt', 'mont', 'scot', 'edin', 'mesa', 'mont', 'temp']

In [197]:
json_coords

'{"cities":[]}'